<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{yyy/MM/dd HH:mm:ss} %-5level %logger - %msg%n%ex"/>
    </Console>
    <RollingFile name="File" fileName="goobox-sync-sia.log" filePattern="goobox-sync-sia.log.%i.zip">
      <PatternLayout pattern="%d{yyy/MM/dd HH:mm:ss} %-5level %logger - %msg%n%ex"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" min="1" max="99"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
    <Logger name="org.dizitart" level="info">
    </Logger>
    <Logger name="net.harawata" level="info">
    </Logger>
  </Loggers>
</Configuration>
