<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017-2018 Junpei Kawamoto
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<configuration debag="false">
  <define name="LOG_DIR" class="io.goobox.sync.common.logback.LogDirPropertyDefiner"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>${LOG_DIR}/sia-sync.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/sia-sync.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.goobox.sync" level="debug"/>
  <logger name="org.dizitart" level="info"/>
  <logger name="net.harawata" level="info"/>
  <logger name="com.liferay" level="info"/>

  <root>
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDERR"/>
  </root>
</configuration>